.combobox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  &-select {
    width: 100%;
    line-height: 1.5;
    padding: 4px 10px;
    border-bottom: 2px solid $color-6;
    box-sizing: border-box;
    &--default {
      color: #8c8c8c;
    }
  }
  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 4px 10px;
    background-color: #fff;
    z-index: 9;
  }
}
