.reserve-title {
  padding: 3em 0;
  font-size: 1.167em;
  text-align: center;
  &__em {
    display: block;
    margin-top: 1.5em;
    font-style: normal;
    color: $color-7;
  }
}
em.name {
  font-style: normal;
  color: $color-7;
}
.reserve-section {
  text-align: center;
  &__paragraph {
    margin-top: 1.5em;
  }
  .combobox {
    &-select {
      text-align: right;
    }
  }
}

.reserve-input {
  border: 1px;
  font-size: 1em;
  padding: 4px 10px;
  line-height: 1.5;
  border-bottom: 2px solid $color-6;
  vertical-align: middle;
}

.reserve-button {
  display: inline-block;
  padding: 1em 2em;
  background-color: $color-7;
  &-box {
    margin-top: 2em;
    color: #fff;
    font-weight: bold;
  }
}
