.result-section {
  display: block;
  max-width: 1000px;
  margin: 3.5em auto 8em;
  text-align: center;
  .result-title {
    font-family: $primary-font;
    font-size: 1.8em;
  }

  .dog-img {
    float: left;
    text-align: left;
    width: 200px;
    height: 200px;
    img {
      width: 100%;
    }
  }

  .result-info {
    overflow: hidden;
    margin: 3em 2em 1.5em;
  }

  .dog-info {
    float: left;
    margin-left: 60px;
    margin-top: 80px;
    font-size: 1.167em;
    &__input {
      font-family: $primary-font;
      font-size: 2.2rem;
      &--em {
        color: $color-7;
      }
    }
  }

  .input-text {
    font-size: 2em;
  }

  .suggest-section {
    margin: 2em auto;
    .title {
      font-family: $primary-font;
      font-size: 1.6em;
    }
    .food-box {
      height: 480px;
    }
  }

  .test {
    display: inline-block;
    width: 200px;
    height: 300px;
  }

  .guideline {
    margin: 2rem auto;
    .title {
      margin-top: 0.8em;
      font-family: $primary-font;
      font-size: 2.2em;
    }
    p {
      margin-top: 0.8em;
      line-height: 1.5;
    }
  }

  .behavior {
    width: 350px;
    height: 350px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}
