$color-1: #fcffe6;
$color-2: #f4ffb8;
$color-3: #eaff8f;
$color-4: #d3f261;
$color-5: #bae637;
$color-6: #a0d911;
$color-7: #7cb305;
$color-8: #5b8c00;
$color-9: #3f6600;
$color-10: #254000;

$font-color: #262626;
