$color-1: #e6fffb;
$color-2: #b5f5ec;
$color-3: #87e8de;
$color-4: #5cdbd3;
$color-5: #36cfc9;
$color-6: #13c2c2;
$color-7: #08979c;
$color-8: #006d75;
$color-9: #00474f;
$color-10: #002329;

$font-color: #262626;
$point-color: #fadb14;
