@import "../node_modules/bulma/bulma.sass";
@import "styles/variables";
@import "styles/base";

// component
@import "styles/steps";
@import "styles/combobox";
@import "styles/reserve";
@import "styles/layout";
@import "styles/Result";
@import "styles/VideoResult";
@import "styles/StartHome";
@import "styles/MainLayout";

// layout
@import "styles/layout";

body {
  background: #eff3f4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
