@import "../node_modules/bulma/bulma.sass";
@import "styles/layout";
@import "styles/Result";
@import "styles/VideoResult";
@import "styles/StartHome";
@import "styles/MainLayout";

body {
  background: #eff3f4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
